body{
	font-size: 16px;
}
.class{
	clear:both;
}
/*     导航栏       */
#banner{
	color: white;
	height:80px;
}
#banner img{
	margin-top:0;
}
#banner ul{
	font-size: 30px;
	position: relative;
	left: 450px;
	margin-right: 15%;
}
.navbar-nav li{
	transition:background,0.5s;
	height: 100%;
}
.navbar-nav li:hover{
	background: #9B59B6;
	color: white;
	cursor: pointer;
}
.navbar-nav a{
	margin-top: 20px;
}
#login{
	position: relative;
	display: none;
}
.login-box{
	position: absolute;
	top: 2em;
	border-radius: 5px;
	left: 62em;
	background: white;
	padding: 2em 3em 1em 3em;
}
#triangle-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid #9b59b6;
    position: absolute;
    top: 0em;
	left: 75em;
}
.login-box label{
	display: block;
	color: black;
}
 .login-box span{
 	display: block;
 	margin-top: 2em;
 }
 .input1{
 	width: 15em;
  	color: black;
 }
 #sign1{
	position: relative;
	display:none;
}
.sign1-box{
	position: absolute;
	top: 2em;
	border-radius: 5px;
	left: 68em;
	background: white;
	padding: 2em 3em 1em 3em;
}
#triangle-up-1 {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 30px solid #9b59b6;
    position: absolute;
    top: 0;
	left: 85em;
}
.sign1-box label{
	display: block;
	color: black;
}
 .sign1-box span{
 	display: block;
 	margin-top: 2em;
 }
 .input1{
 	width: 15em;
  	color: black;
 }
 .btn-submit{
 	width: 15em;
 	height: 2.5em;
 	background-color: #9b59b6;
 	transition-duration: 0.5s;
 	margin-top: 1em;
 }
 .btn-submit:hover{
 	background-color: black;
 }
main{
	margin-top: 80px;
}
main img{
	margin-top: 80px;
}
h1{
	font-size: 20px;
}
.myButton{
	background-color:#2dabf9;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration: none;
	transition:background-color 0.5s;
	margin-top: 1em;
}
.myButton:visited{
    color: white;
	text-decoration: none;
}
.myButton:hover {
	background-color:#0688fa;
	text-decoration:none;
}
/*          index第一部分       */
#section1{
	display:-webkit-box;
    display:-ms-flexbox;
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: #252A2E;
}
#s1d{
	width:25%;
	margin: 1em 15em 0 -1em;
	color: white;
}
#s1d a:last-child{
	margin-left: 20%;
	font-size: 1.5em;
	transition-duration: 0.5s;
}
#s1d a:last-child:hover{
	color: #9B59B6;
	text-decoration: none;
}

#s1d a:last-child:visited{
    color: white;
    text-decoration: none;
}
/*     index第二部分       */
#section2{
	display: flex;
	flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding-left: 20em;
    padding-bottom: 10em;
    background-color: #9B59B6;
    color: white;
}
.s2d a:link{
	color: inherit;
	text-decoration: none;
}
.s2d{
	width: 25em;
	margin-right: 10em;
}
#section2 .fa{
	margin-left: 30%;
	margin-top: 30%;
}
/*          底栏         */
footer{
  background-color:#252A2f;
  padding:10px 0 0 10px;
  color: white;
  font-size: 25px;
  clear: both;
}
.icon1{
  padding:12px 14px;
}
.icon2{
  padding: 12px 13px;
}
.icon3{
  padding: 12px 10px;
}
footer div:first-child {
	display: inline-block;
	margin-left: 20%;
	color: #9b59b6; 
}
#sign{
   display: inline-block;
   margin-left: 20%;
}
/*       第二、三栏总体       */
#section3 div:first-child{
   font-size: 3em;
   font-weight: bold;
   color: white;
   background-color: #252A2f;
   text-align: center;
   padding: 0.8em 0 0.8em 0;
}
#section3 div:last-child{
   font-size: 3em;
   color: white;
   background-color: #9b59b6;
   text-align: center;
   padding: 0.3em 0 0.3em 0;
}
/*         about第二部分       */
#section4{
     padding:2% 20% 5% 20%;
}
#section4 img{
	margin-top: 1em;
}
#s4d1{
	float: left;
	width: 40%;
	margin-bottom: 5em;
}
#s4d2{
	width: 40%;
	float: left;
	margin-left: 120px;
}
.progress-title{
	float: left;
	font-size: 1.5em;
}

.progress-number{
	float: right;
	font-size: 1.5em;
}
#s4d2 div{
	width: 100%;
	height: 10px;
	float: left;
}
/*         about第三部分           */
#section5{
    text-align: center;
    clear: both;
}
#s5d{
	display: flex;
	flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 15% 0 15%;
    position: relative;
}
#s5d img{
	border-radius: 50%;
}
#s5d div{
	word-wrap: break-word;
	word-break: normal;
}
#s5d h3{
	color: #9b59b6;
}
.cover{
	height: 220px;
	width: 220px;
	position: absolute;
	top:18%;
	z-index:0;
	opacity:0;
	border-radius: 50%;
	transition:all 0.3s;
	background:white url(images/puls.png) center no-repeat;
}
.cover:hover{
	opacity: 0.6;
 	background-color: #9b59b6;
}
/*           details第二部分         */
#section6{
	padding-top: 2%;
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 2%;
}
#s6d h2{
    text-align: left;
    color: #9359b6;
    text-decoration: none;
}
#s6d img{
	margin-top: 2em;
	margin-bottom: 2em;
	max-width: 100%; 
}
.s6p{
   line-height: 1.5em;
}
#s6d button a{
	color: yellow;
}
#s6d button a:hover,
#s6d a:hover,
#section7 a:hover{
 	text-decoration: none;
}
#s6d button{
	background-color: rgb(221, 119, 136);
}
#s6d button:hover{
	background-color: #9359b6;
}
/*         blog第二部分          */
#section7{
   padding:2% 10% 5% 20%;
}
#s7d{
	width: 50%;
	float: left;
	margin-right: 10%;
}
#s7d img{
	margin:1em 0 3em 0;
}
#s7d h2{
	clear: both;
}
#s7d li{
	list-style: none;
	margin-bottom: 1em;
}
.s7d1{
	float: left;
	margin-right: 5em;
}

.s7d2{
    float:left;
    width: 60%;
}
/*          blog第三部分         */
#s8d{
	float: left;
	margin-top:2em; 
	position: relative;
}
#s8d h2{
	color:  #485460;
}
#s8d input{
	width: 22em;
	height:2em;
	border:1px solid #D8D8D8;
}
#s8df1 img{
 	margin: 0;
 	position: absolute;
 	top: -0.2em;
 	left: 20em;
}
#facebook{
	padding: 0.8em 1.1em;
	background-color: #627aab;
}
#twitter{
	padding: 0.8em 0.9em;
	margin-left: 0.6em;
}
#google{
	padding: 0.8em 0.7em;
	margin-left: 0.6em;
	background-color: #e96f67;
}
#facebook:hover,
#twitter:hover,
#google:hover{
	color: white;
	opacity: 0.6;
}
#button1{
	margin-bottom: 2em;
}
.btn-info{
	margin-top: 2em;
}
#button ul{
	padding: 0;
}
#button2 h2{
	margin-bottom: 1em;
}
.traslate{
	height: 3em;
	line-height: 3em;
	transition:background 1s;
}
.traslate li{
	transition: all;
	color: black;
	font-size: 1.5em;
	list-style-image: url("images/icon_1.png");
	margin-bottom: 1em;
	vertical-align: bottom;
}
.traslate li:hover{
	color: white;
}
.traslate:hover{
	padding-left:2em;
	color:white;
	background-color: #485460;
}
.traslate1 li{
	color: black;
	transition-duration: 0.3s;
	line-height: 3em;
	list-style: none;
	font-size: 1.5em;
}
.traslate1 li:hover{
	color:#9b59b6;
}
#tags{
	width: 30em;
}
#tags ul li 
{	
	float:left;
	list-style: none;
	margin:1em;
	padding: 0.5em;
	transition: background-color 0.3s;
}
#tags ul li a
{
	padding: 0.7em;
	border-radius: 5px;
	transition: background-color 0.3s;
	background-color: #f6fafb;
}
#tags ul li a:hover{
	color:#fff;
	background: #9b59b6;
}




/*            导航栏响应式          */
@media only screen and (min-width:753px) and (max-width: 972px)
{
   #banner ul{
   	position: relative;
   	left: 200px;
   }
}
/*             底部响应式            */
@media only screen and (min-width:820px) and (max-width: 1139px)
{
   footer div:first-child{
	margin:0 5%; 
}
}
/*             index第一部分响应            */
@media only screen and (max-width:890px)
{
	#s1d{
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}   
}
/*        details响应式        */
@media only screen and (max-width:1118px)
{
	#section6{
	padding-top: 2%;
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 2%;
	}
}
@media only screen and (min-width:1118px) and (max-width:1417px)
{
	#section6{
	padding-top: 2%;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 2%;
	}
}
/*           about第二部分响应        */
@media only screen and (min-width:1400px) and (max-width:1705px)
{
	#section4{
     padding:2% 10% 5% 10%;
	}
}
@media only screen and (min-width:725px) and (max-width:1705px)
{
	#section4{
	width: 100%;
     padding:2% 10% 5% 10%;
	}
 	#section4 img{
 		width: 100%;
 	}
 	#s4d2{
	margin-left: 50px;
	}
}
@media only screen and (max-width:726px)
{
	#section4{
     padding:0;
	}
#s4d1{
	float: none;
	width: 90%;
	margin-bottom: 5em;
	margin-left: 5%;
	}
#s4d2{
	width: 90%;
	float: none;
	margin-left: 3em;
	}
.progress-title{
	float: left;
	font-size: 1.5em;
	}

.progress-number{
	float: right;
	font-size: 1.5em;
	}
#s4d2 div{
	width: 100%;
	height: 10px;
	float: left;
	}
}
/*         Blog响应       */
@media only screen and (min-width:1244px) and (max-width:1604px)
{
	#section7{
   	padding:2% 0 5% 15%;
   	width: 100%;
	}
	#s7d{
	width: 50%;
	margin-right: 10%;
	}
	.s7d1{
	margin-right: 5%;
}
	.s7d2{
		width:60%; 
	}
	#s7d img{
	margin:1em 0 3em 0;
	max-width: 100%;
}
}
@media only screen and (min-width:1042px) and (max-width:1244px)
{
	#section7{
   	padding:2% 0 5% 10%;
   	width: 100%;
	}
	#s7d{
	width: 50%;
	margin-right: 4%;
	}
	.s7d1{
	margin-right: 5%;
}
	.s7d2{
		width:60%; 
	}
	#s7d img{
	margin:1em 0 3em 0;
	width: 100%;
}	
}
@media only screen and (max-width:1042px)
{
	#section7{
		padding: 2% 10% 2% 10%;
	}
    #s7d{
    width: 100%;
    margin: 0 auto;
    }
    .s7d1{
    	width: 20%;
    }
    #s7d img{
	margin:1em 0 3em 0;
	width: 100%;
}	
}





















