body{font-size:16px;margin:0; padding:0;font-family:Tahoma,Arial,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC",sans-self;
}
a{
	text-decoration: none;
	color: white;
	font-size: 1.3rem;
}
.main{
	width: 94%;
	padding-left: 6%;
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
	background-color: #00BBDE; 
	display: flex;
	display: -webkit-flex;
	align-items: center;
	flex-wrap: nowrap;
}
.left{
	display: flex;
	display: -webkit-flex;
	align-items: center;
	font-size: 1.3rem;
}
.left i{
	margin-right: 10px;
}
.center{
	flex: 1;
}
.right{
	display: flex;
	display: -webkit-flex;
	align-items: center;
}
.right i{
	position: relative;
	top:3px;
}
.right a{
	margin-left: 30px;
	margin-right: 10px;
	font-size: 1.3rem;
}
.weather{
	height: 30px;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	justify-content:center;
	margin-top:2%;
}
.weather1{
	color: #00BBDE;
	font-size: 1.2rem;
}
hr{
	opacity: 0.2;
}
.content{
	display: flex;
	justify-content: flex-start;
}
.content img{
	margin-left: 3%;
}
.content_1{
	display: flex;
	justify-content: flex-start;
	font-size: 1.3rem;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-left: 2%;
		
}
.content_1 .a1{
	font-weight: 600;
	opacity: 0.7;
}
.content_1 .a2{
	font-size: 1.1rem;
	display: flex;
	align-items: flex-end;
	opacity: 0.5
}
.content img{
	width: 20%;
	height: 20%;
}
.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #00BBDE;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
